/* styles/ReviewForm.module.css */
.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  border: dotted 15px #FFC107;
  padding: 20px;
  max-width: 900px;
  margin: auto;
  border-radius: 30px;
  margin-top: 20px;
  background-color: #56619f;
}

.h2 {
  color:#fff;
  text-align: center;
  padding-bottom: 10px;;
  padding-top: 10px;
}

.textarea {
  padding: 10px;
  background-color: #f3ebd1;
  width: 60%;
  height: 100px;
  resize: none;
  border-radius: 5px;
}

.rating {
  display: flex;
}

.on, .off {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 36px;
}

.on {
  color: #FFC107;
}

.off {
  color: #8c95c9;
}

.submitButton {
  padding: 10px 20px;
  background-color: #D50000;
  font-family: 'Roboto Slab', serif;
  width: 40%;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 25px;
}

.submitButton:hover {
  background-color: #FFC107; /* In-N-Out yellow */
}
